/*************************************************************************************/
/************************        MOBILES CSS STYLES        **************************/
/***********************************************************************************/

@media (max-width: 768px) { 
    body{
        margin: 0 90px;
    }

    /* PRSENTATION PAGE */
    .article{
        margin: 0 70px;
    }

    .text-title{
        font-size: 3vh;
    }
}